{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% block title %}
Log Analysis
{% endblock title %}
{% block content %}
<div class="content">
    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
        <table class="table table-report -mt-2">
            <thead>
                <tr>
                    <th class="whitespace-nowrap">Request id</th>
                    <th class="whitespace-nowrap">Date</th>
                    <th class="text-center whitespace-nowrap">Path</th>
                    <th class="text-center whitespace-nowrap">Endpoint</th>
                    <th class="text-center whitespace-nowrap">Client IP</th>
                    <th class="text-center whitespace-nowrap">body</th>
                    <th class="text-center whitespace-nowrap">#Parameters</th>
                    <th class="text-center whitespace-nowrap">Overview</th>
                    <th class="text-center whitespace-nowrap">Method</th>
                </tr>
            </thead>

            <tbody>
                {% for item in data %}
                
                
                <tr class="intro-x">
                    <td class="w-40">
                        <div class="flex">
                            <a href="" class="font-medium whitespace-nowrap">{{item.id}}</a>
                        </div>
                    </td>
                    <td>
                       date
                    </td>
                    <td class="text-center">{{item.path}}</td>
                    <td class="text-center">{{item.endpoint}}</td>

                    <td class="text-center">555.55.55.55</td>

                    <!--
                        <div class="flex items-center justify-center text-success"> <i data-lucide="check-square" class="w-4 h-4 mr-2"></i> Active </div>-->
                    </td>
                    <td class="text-center">{{item.body_data}}</td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center">{{item.method}}</td>

                    </td>
                </tr>

                {% endfor %}

                
                
                
            </tbody>
        </table>
    </div>
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap items-center">
        <nav class="w-full sm:w-auto sm:mr-auto">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#"> <i class="w-4 h-4" data-lucide="chevrons-left"></i> </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#"> <i class="w-4 h-4" data-lucide="chevron-left"></i> </a>
                </li>
                <li class="page-item"> <a class="page-link" href="#">...</a> </li>
                <li class="page-item"> <a class="page-link" href="#">1</a> </li>
                <li class="page-item active"> <a class="page-link" href="#">2</a> </li>
                <li class="page-item"> <a class="page-link" href="#">3</a> </li>
                <li class="page-item"> <a class="page-link" href="#">...</a> </li>
                <li class="page-item">
                    <a class="page-link" href="#"> <i class="w-4 h-4" data-lucide="chevron-right"></i> </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#"> <i class="w-4 h-4" data-lucide="chevrons-right"></i> </a>
                </li>
            </ul>
        </nav>
        <select class="w-20 form-select box mt-3 sm:mt-0">
            <option>10</option>
            <option>25</option>
            <option>35</option>
            <option>50</option>
        </select>
    </div>

</div>



{% endblock content %}

